<!DOCTYPE html>
<html>
  <head>
    <title>ChessGpt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", media: "all" %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="site-footer">
    <a href="https://github.com/chris-tatlonghari" target="_blank" rel="noopener">
      <i class="fab fa-github"></i> Made by chris-tatlonghari
    </a>
  </footer>
</html>
